<!doctype html>
<html>
<head>
  <title>Sarah and Willam's Travel Website</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
<form method="POST" action='/result'>
  <div class="jumbotron">
    <h1>Travel Quiz</h1>
    <h5>Created by: Sarah Frauen and William Frauen</h5>
    <h2>What's your ideal vacation...</h2>
  </div>
   <div class = "questions weather_condition ">
    <h4>What is your ideal weather?</h4>
    <input type="radio" name="weather" value="Warm and Sunny">Warm and Sunny<br>
    <input type="radio" name="weather" value="Snowy">Snowy<br>
  </div>
  <div class = "questions landscape_setting ">
    <h4>What is your ideal vacation setting?</h4>
    <input type="radio" name="landscape_setting" value="Urban and City-like">Urban and City-like<br>
    <input type="radio" name="landscape_setting" value="Beach">Beach<br>
    <input type="radio" name="landscape_setting" value="Forest and Parks">Forest and Parks<br>
    <input type="radio" name="landscape_setting" value="Ski Mountain">Ski Mountain<br>
  </div>
  <div class = "questions lifestyle ">
    <h4>What is your ideal vacation lifestyle?</h4> 
    <input type="radio" name="lifestyle" value="Fast-paced and active">Fast-paced and active<br>
    <input type="radio" name="lifestyle" value="Relaxed">Relaxed<br>
    <input type="radio" name="lifestyle" value="Exotic and natural">Exotic and natural<br>
    <input type="radio" name="lifestyle" value="Adventurous">Adventurous<br>
  </div>
  <br>
  <button type="submit">Submit</button>
</form>
</body>
</html>